html {
    position: relative;
    min-height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#body {
    height: 100%;
    margin-top: -15px;
    margin-bottom: 70px;
}

footer {
    background-color: #f2f2f2;
    padding: 25px;
    height: 70px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#logo {
    float: left;
    width: 100%;
    height: 40px;
    top: -9px;
    position: relative;
}

.cart-add-logo {
    color: #219FD1;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .panel-image {
        min-height: 0;
    }
}
@media only screen 
and (min-width : 1224px) {
    .panel-image {
        min-height: 300px;
    }
}
.swiper-container {
    width: 80%;
    /*height: 100%;*/
}
.swiper-slide {
    padding-bottom: 20px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.more-list {
    color: #219FD1;
}

.clear-left {
    clear: left;
}

.navbar {
    margin-bottom: 15px;
}

.input-group {
    width: 100%;
    text-align:center;
}

.input-group-btn {
    text-align: left;
}

#myCarousel .item {
    background-color: #000000;
}

#carousel-inner-1 > .item > img {
    /*position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;*/
}

#left_carousel, #right_carousel {
    background-color: #000000;
}
