	.info{
		margin-top: 10px;	
	}

	.info-container{
		padding: 10px;
	}

	.order-summary{
		margin-top: 10px;
	}

hr {
	border: none;
	height: 1px;
		
	background-color: #7A7A7A;
}

	.progress {background: rgba(245, 245, 245, 1); border: 0px solid rgba(245, 245, 245, 1); border-radius: 25px; height: 40px;}
}
.progress-bar-custom {background: rgba(66, 139, 202, 1);}