@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 767px) {
    #map-container {
        height: 350px;
        width: 80%;
        margin: 0 auto 10px;
    }

    .list-group {
        max-height: 350px;
    }
}
@media only screen 
and (min-width : 768px) {
    #map-container {
        height: 500px;
        width: 100%;
        margin: 0 auto;
    }
    .list-group {
        max-height: 500px;
    }
}

.list-group {
    overflow-y:scroll; 
}

.list-group-item {
    padding-left: 30px;
    padding-top: 0px;
    display: block;
}

.list-group a {
    text-decoration: none;
}
