#map-container {
    height: 500px;
    width: 800px;
    margin: 0 auto;
    position: absolute;
}

#store-results{
        float: right;
        width: 300px;
        margin: 0 auto;
        overflow: auto;
        max-height: 500px;

        position: relative;
}



.map-list-container{
        margin: 0 auto;
        text-align: left;
        width: 1100px;
}

.list-group a{
        text-decoration: none;

}

.list-group-item a{
    display:block;
    height: 100%;
}