
#brandNav, #priceNav{
    display: inline;
}

#brandNav{
    float: left;
    margin-left: 5%;
}

#priceNav{
    float: right;
}

#catTitle{
text-align: center;
}

.product_container{
margin-left: 5%;
text-align: center;
}

.filterList h4, li{
	padding-left: 10px;
}


.filter h4{
	color: white !important;
}

#filterNav{
    background-color: white;
}

.filterList{
list-style-type: none;
}
label{
	font-weight: normal;
}
.product_grid{
margin-left: 100px;
}
.product-row{
margin-top: 20px;
text-align: left;
}

.panel-footer{
overflow: hidden;
}