.progress {
    background: rgba(245, 245, 245, 1);
    border: 2px solid black;
    border-radius: 25px;
    height: 40px;
}

.progress-bar-1, .progress-bar-2, .progress-bar-3 {
    border-right: 2px solid black;
}

#map_canvas {
    position: absolute;
    min-width: 60%;
    min-height: 75%;
    margin-left: 20.8%;
    margin-bottom: 100px;
}

.description {
    position: relative;
    text-align: center;
    margin-bottom: -55px;
    padding: 1px 0 0 0;
}


h6 {
    font-size: 10px;
}
@media screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation:portrait) {
    #map_canvas {
        min-width: 90%;
        min-height: 65%;
        left: -16%;
    }
    h6 {
        font-size: 6px !important;
    }
    h2 {
        font-size: 26px !important;
    }

    h3 {
        font-size: 14px !important;
    }

    h4 {
        font-size: 10px !important;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation:landscape) {
    #map_canvas {
        min-width: 90%;
        min-height: 90%;
        left: -16%;
        margin-bottom: 3cm;
    }

    h6 {
        font-size: 6px !important;
    }
    h3 {
        font-size: 12px !important;
    }

    h4 {
        font-size: 16px !important;
    }
}

@media screen and (min-device-width: 600px) and (max-device-width: 1440px) {
    #map_canvas {
        min-width: 90%;
        min-height: 65%;
        left: -14%;
    }

    #container {
        position: relative;
        left: -2%;
    }

    h4 {
        font-size: 16px !important;
    }
}